body {
  font-family: "Computer Modern Serif", serif;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}
.manual-title {
  /*
  color: white;
  background: black;
   */
  grid-column: col-start 3 / span 8;
  grid-row: 1;
  padding: 1em;
}
.manual-content {
  padding: 1em;
  grid-column: col-start 3 / span 3;
  grid-row: 2;
}
.manual-text {
  grid-column: col-start 6 / span 5;
  grid-row: 2;
  padding: 1em;
}
footer {
  grid-column: col-start 5 / span 2;
  grid-row: 3;
}
.Xr {
  font-weight: bold;
}
.Ft, .Fn, .Fa, .synopsis {
  font-family: "Computer Modern Typewriter", serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
pre {
  color: white;
  background: black;
  padding: 1em;
}
.description {
  font-size: 1.25em;
}
.contents {
  background: lightgrey;
  padding: 1em;
}
